<style>
  .select2-search{
    display: none;
  }
  #stuRegTableCard #no-student-alert {
    display: none;
  }
  #stuRegTableCard.no-student .flexible {
    display: none;
  }
  #stuRegTableCard.no-student #no-student-alert {
    display: block;
  }


  #stuRegTableCard.loading .flexible {
    display: none;
  }
  #stuRegTableCard.loading #no-student-alert {
    display: none;
  }

</style>
<div class="main-content">

  <!-- HEADER -->
  <div class="header">
    <div class="container">

      <!-- Body -->
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">

            <!-- Pretitle -->
            <h6 class="header-pretitle">
              Overview
            </h6>

            <!-- Title -->
            <h1 class="header-title">
              Students
            </h1>

          </div>
          <div class="col-auto">

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .header-body -->

    </div>
  </div> <!-- / .header -->
  <div class="modal fade" id="edit_student_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div id="editStuAlert" style="top:-90px;z-index:1200;position:absolute;width:100%;" class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p style="margin-bottom:0px;">Aww yeah, you successfully</p>
          </div>
          <div class="modal-card card" data-toggle="lists" data-lists-values="[&quot;name&quot;]">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-auto">

                  <!-- Close -->
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><span class="fe fe-x"></span></span>
                  </button>

                </div>
                <div class="col">

                  <!-- Title -->
                  <h4 class="card-header-title" id="exampleModalCenterTitle" style="text-align:center;">
                    Edit Student
                  </h4>

                </div>
                <div class="col-auto">

                  <!-- Close -->
                  <button id="edit-student-btn" type="button" class="close" ng-click="editStudent()">
                    <span aria-hidden="true"><span class="fe fe-user-plus"></span></span>
                  </button>

                </div>
              </div> <!-- / .row -->
            </div>
            <div class="card-body">
              <div class="form-group">
                  <label for="grade_name_select">Choose Grade</label>
                  <select class="form-control" id="edit_grade_combo" data-toggle="select" name="grade_name">

                  </select>
              </div>
              <div class="form-group">
                <label for="student_name">Enter Student Name</label>
                <input ng-modal="editstu_name" type="text" class="form-control" id="edit_student_name" placeholder="Student Name">
              </div>
              <div class="form-group">
                <label for="father_name">Enter Father Name</label>
                <input ng-modal="editstu_father" type="text" class="form-control" id="edit_father_name" placeholder="Father Name">
              </div>
              <div class="form-group">
                <label for="student_name">Choose BirthDay</label>
                <input ng-modal="editstu_birth" type="text" class="form-control" placeholder="Choose BirthDay" data-toggle="flatpickr" id="edit_stu_birth">
              </div>
              <div class="form-group">
                <div class="form-check form-check-inline">
                  <label class="text-muted">Gender</label>
                </div>
                <div class="form-check form-check-inline">
                  <input value="male" class="stu_gender_radio stu_edit_gender_radio form-check-input" value="male" type="radio" name="inlineRadioOptions" id="edit_stu_male" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input value="female" class="stu_gender_radio stu_edit_gender_radio form-check-input" value="female" type="radio" name="inlineRadioOptions" id="edit_stu_female" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
              </div>
              <div class="form-group">
                <label for="st_address">Enter Address</label>
                <input ng-modal="editstu_address" type="text" class="form-control" id="edit_stu_add" placeholder="Enter Address">
              </div>
              <div class="form-group">
                <label for="phone_no">Enter Phone no</label>
                <input ng-modal="editstu_phone" type="text" class="form-control" id="edit_stu_phone" placeholder="Phone No">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="modal fade" id="info_student_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div id="addStuAlert" style="top:-90px;z-index:1200;position:absolute;width:100%;" class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p style="margin-bottom:0px;">Aww yeah, you successfully</p>
          </div>
          <div class="modal-card card" data-toggle="lists" data-lists-values="[&quot;name&quot;]">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-auto">

                  <!-- Close -->
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><span class="fe fe-x"></span></span>
                  </button>

                </div>
                <div class="col">

                  <!-- Title -->
                  <h4 class="card-header-title" id="exampleModalCenterTitle" style="text-align:center;">
                    Student Creation
                  </h4>

                </div>
                <div class="col-auto">

                  <!-- Close -->
                  <button id="add-student-btn" type="button" class="close" ng-click="addStudent()">
                    <span aria-hidden="true"><span class="fe fe-user-plus"></span></span>
                  </button>

                </div>
              </div> <!-- / .row -->
            </div>
            <div class="card-body">
              <div class="form-group">
                  <label for="grade_name_select">Choose Grade</label>
                  <select class="form-control" id="grade_name_select" data-toggle="select" name="grade_name">

                  </select>
              </div>
                <div class="form-group">
                  <label for="student_name">Enter Student Name</label>
                  <input type="text" class="form-control" id="student_name" placeholder="Student Name">
                  <div class="invalid-feedback">
                    Please enter student's name.
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-auto">
                    <label for="father_name">Enter Father Name</label>
                    <input type="text" class="form-control" id="father_name" placeholder="Father Name">
                    <div class="invalid-feedback">
                      Please enter father's name.
                    </div>
                  </div>
                  <div class="form-group col-auto ml-auto">
                    <label for="st_birthday">Choose BirthDay</label>
                    <input type="text" class="form-control" placeholder="Choose BirthDay" data-toggle="flatpickr" id="st_birthday">
                    <div class="invalid-feedback">
                      Please choose student's Birthday .
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check form-check-inline">
                    <label class="text-muted">Gender</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input value="male" class="stu_gender_radio form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                   </div>
                  <div class="form-check form-check-inline">
                    <input value="female" class="stu_gender_radio form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                    <div class="invalid-feedback">
                    </div>
                  </div>

                </div>
              <div class="row">
                <div class="form-group col-auto">
                  <label for="st_address">Enter Address</label>
                  <input type="text" class="form-control" id="st_address" placeholder="Enter Address">
                  <div class="invalid-feedback">
                    Please enter student's address.
                  </div>
                </div>
                <div class="form-group col-auto ml-auto">
                  <label for="phone_no">Enter Phone no</label>
                  <input type="text" class="form-control" id="phone_no" placeholder="Phone No">
                  <div class="invalid-feedback">
                    Please enter student's phone number.
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
      <div id="stuRegTableCard" class="card" style="margin-bottom: 10px;" data-toggle="lists" data-lists-values="[&quot;orders-order&quot;, &quot;orders-product&quot;, &quot;orders-date&quot;, &quot;orders-total&quot;, &quot;orders-status&quot;, &quot;orders-method&quot;]">
          <div class="card-header">

            <div class="row align-items-center">
              <div class="col">
                <a class="btn btn-primary text-light" id="add_new_student_btn">
                  New Student
                </a>
                <!-- Title -->
                <!-- <h4 class="card-header-title">
                  Student Infos
                </h4> -->

              </div>
              <!-- <div class="col-auto">
                <select id="selectedAcdmYears" class="form-control" data-toggle="select">
                  <option value="2017/2018">2017/2018</option>
                  <option value="2013/2014">2013/2014</option>
                  <option value="2018/2019">2018/2019</option>
                </select>
                <span class="dropdown-wrapper" aria-hidden="true"></span>
              </div> -->
              <div class="col-auto" style="width:120px;">
                <select id="selectedAcdmGrade" class="form-control" data-toggle="select">
                </select>
              </div>
            </div> <!-- / .row -->
          </div>
        <div id="no-student-alert" class="card-header">
          <div class="row">
            <div class="container container-fluid">

              <!-- Card -->
              <div style="border: 0;" class="card card-inactive card-fluid">
                <div class="card-body text-center">

                  <!-- Image -->
                  <img src="assets/img/illustrations/scale.svg" alt="..." class="img-fluid" style="max-width: 182px;">

                  <!-- Title -->
                  <h1>
                    No student yet.
                  </h1>

                  <!-- Subtitle -->
                  <p class="text-muted">
                    Create students for your school.
                  </p>

                  <!-- Button -->
                  <!-- <a id="create_student_btn" class="btn btn-primary text-light">
                    Create Student
                  </a> -->

                </div>
              </div>

            </div>
          </div> <!-- / .row -->
        </div>
        <div id="student-table-loader" class="card-header is-loading">
          <div class="row">
            <div class="container container-fluid">

              <!-- Card -->
              <div style="border: 0;" class="card card-inactive card-fluid">
                <div class="card-body text-center">

                  <!-- Image -->
                  <img src="assets/img/illustrations/scale.svg" alt="..." class="img-fluid" style="max-width: 182px;">

                  <!-- Title -->
                  <h1>
                    No student yet.
                  </h1>

                  <!-- Button -->
                  <!-- <a id="create_student_btn" class="btn btn-primary text-light">
                    Create Student
                  </a> -->

                </div>
              </div>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="card-header flexible">
          <div class="row align-items-center">
            <div class="col">

              <!-- Search -->
              <form class="row">
                <div class="col-auto pr-0">
                  <span class="fe fe-search text-muted"></span>
                </div>
                <div class="col">
                    <input id="stuSearch" type="search" class="form-control form-control-flush" placeholder="Search" onkeyup="stuSearchFnc()">
                </div>
              </form>

            </div>
            <div class="col-auto">

              <!-- Button -->

              <div class="dropdown">
                <button class="btn btn-sm btn-white dropdown-toggle" type="button" id="bulkActionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Multiaction
                </button>
                <div class="dropdown-menu" aria-labelledby="bulkActionDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 29px, 0px);">
                  <!-- <a href="#!" class="dropdown-item" ng-click="editStudents()">
                    <span class="fe fe-edit-2"></span>&nbsp;&nbsp;Edit
                  </a> -->
                  <a class="dropdown-item" ng-click="delStudents()">
                    <span class="fe fe-trash-2"></span>&nbsp;&nbsp;Delete
                  </a>
                </div>
              </div>

            </div>
          </div> <!-- / .row -->
        </div>
        <div class="table-responsive flexible">
          <table ng-controller="checkboxCtrl" id="stuTable" class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th>
                  <div class="custom-control custom-checkbox table-checkbox">
                    <input type="checkbox" ng-model='selectAll' class="custom-control-input" name="ordersSelect" id="checkAll">
                    <label class="custom-control-label" for="checkAll">
                      &nbsp;
                    </label>
                  </div>
                </th>
                <th>
                  <a class="text-muted">
                    Stu ID
                  </a>
                </th>
                <th>
                  <a class="text-muted">
                    Name
                  </a>
                </th>
                <th>
                  <a class="text-muted">
                    Gender
                  </a>
                </th>
                <th>
                  <a class="text-muted">
                    Birth
                  </a>
                </th>
                <th>
                  <a class="text-muted">
                    Father
                  </a>
                </th>
                <th>
                  <a class="text-muted">
                    Address
                  </a>
                </th>
                <th colspan="2">
                  <a class="text-muted asc">
                    Phone
                  </a>
                </th>
              </tr>
            </thead>
            <tbody class="list">
              <tr ng-repeat="x in students | orderBy : 'stu_name'">
                <td>
                  <div class="custom-control custom-checkbox table-checkbox">
                    <input type="checkbox" ng-checked='selectAll' class="checkSingle custom-control-input check-box " value="61" name="ordersSelect" id="61">
                    <label class="custom-control-label" for="61">
                      &nbsp;
                    </label>
                  </div>
                </td>
                <td class="orders-order">
                  #{{ $index + 1 }}
                </td>
                <td class="orders-product">
                  {{x.stu_name}}
                </td>
                <td class="orders-gender">
                  {{x.stu_gender}}
                </td>
                <td class="orders-date">
                  <time datetime="2018-07-30">{{x.stu_birth}}</time>
                </td>
                <td class="orders-total">
                  {{x.stu_father}}
                </td>
                <td class="orders-status">
                  {{x.stu_add}}
                </td>
                <td class="orders-method">
                  {{x.stu_phone}}
                </td>
                <td class="text-right">
                  <div class="dropdown">
                    <a class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fe fe-more-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a id="edit-stu-btn" for="{{x.stunacdm_id}}" class="dropdown-item">
                        <span class="fe fe-edit-2"></span>&nbsp;&nbsp;Edit
                      </a>
                      <a id="del-stu-btn" for="{{x.stunacdm_id}}" class="dropdown-item" >
                        <span class="fe fe-trash-2"></span>&nbsp;&nbsp;Delete
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<!-- JAVASCRIPT
================================================== -->
<!-- Libs JS -->
